@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer components {
  .text-md {
    font-size: 1rem;
  }
  .delay-10 {
    transition-delay: 10ms;
  }
  .selected {
    opacity: 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

#root {
  height: auto;
  overflow-y:hidden;
  overflow-x: hidden;
}

.custom-dynamic-style {
  @apply lg:w-[612px] md:w-[650px] sm:w-[300px] m-auto mt-[50px] inline-flex flex-col items-center md:gap-[20px] gap-[25px] p-[35px] relative bg-white rounded-md;
}

.custom-button-style {
  @apply lg:w-[542px] md:w-[480px] w-[225px] h-12 p-2.5 hover:bg-do_hover_green bg-do_green rounded-[5px] shadow-lg justify-center items-center gap-[113px] inline-flex mt-[40px] transition-all duration-100 ease-in-out cursor-pointer shadow-gray-100
}

.custom-input-style {
  @apply h-12 p-2.5 text-lg bg-white rounded-[5px] shadow justify-start items-center gap-[113px] inline-flex mx-auto outline-none;
}

.circle-design {
  @apply opacity-80 rounded-full md:border-[20px] border-[9px] border-do_green absolute
}

.place-input {
  @apply text-neutral-500 md:text-2xl sm:text-lg text-sm font-light md:w-[220px] sm:w-[150px] w-[100px] md:h-16 h-12 pl-5 pr-2.5 py-2.5 bg-white border border-neutral-500 justify-start items-center gap-2.5 inline-flex outline-none;
}

.categorie-style {
  @apply inline-flex flex-col mt-0 items-center md:w-[120px] w-[50px] hover:px-6 p-4 rounded-2xl md:gap-[16px] gap-[5px] relative
}

.categorie-icons {
  @apply md:size-[50px] size-[25px] group-hover:text-gray-500 hover:opacity-40 opacity-80
}

.images-service {
  @apply lg:w-[182px] w-[58px] h-auto object-cover hover:opacity-100 opacity-50
}